body {
  margin: 0;
  font-family: Poppins;
  background: #f1f1f1;
}

.container {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.back-btn {
  background: #111;
  color: white;
  padding: 10px 15px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.img {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}

.buy-btn {
  width: 100%;
  padding: 12px;
  background: #111;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 20px;
}

.qr-img {
  width: 200px;
  display: block;
  margin: 20px auto;
  border-radius: 10px;
}

